
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}
body{
    background: linear-gradient(45deg, #FF6B00 50%, #B44E0E 70%);
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
}


.imagem-luiz {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.imagem-luiz img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.separa-grid {
    position: relative;
    z-index: 2;
    margin-left: auto;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.formulario-fundo form {
    background: linear-gradient(50deg, #FF6B00 50%,#B44E0E 70%);
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: #ffffff;

}


.formulario-fundo h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.formulario-fundo h2::after {

    content: "";
    display: block;
    width: 300px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 2px;
    margin-top: 10px; 
}

.formulario-fundo label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}


.formulario-fundo input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    box-sizing: border-box;
}


.formulario-fundo a {
    display: block;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(45deg, #e7670b, #B44E0E);
    color: #ffffff;
    border-radius: 8px;
}

.formulario-fundo a:hover {
    opacity: 70%;
    transform: translateY(-1px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}