<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="formulario.css">
</head>

<body>
 <div class="container">
    <div class="imagem-luiz">
        <img src="/img/Luizão.svg" alt="">
    </div>

    <div class="separa-grid">
        <div class="formulario-fundo">
            <div class="formulario-info">
                <form action="/auth/login" method="post">
                    <h2>Seja Bem Vindo</h2>

                    <% if (typeof error !== 'undefined' && error) { %>
                        <div class="alert alert-danger"><%= error %></div>
                    <% } %>

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required placeholder="@gmail.com">

                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="password" required>

                    <button type="submit" class="btn btn-primary">Entrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>